*{
    box-sizing: border-box;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

kbd{
    font-size: 20px;
}

/* bg color */

body{
    background-color: #202124;
}

.container{
    background-color: #5f6368;
}

.screen{
    background-color: #3b3b3b;
}

button{
    border-color: #202124;
    background-color: #5f6368;
}

/* flex */

body{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vh;
}

.screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5em;
}

.buttons{
    gap: 5px;
}

/* heights */

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 60vh;
    width: 60vw;
}

.screen{
    height: 100%;
    width: 100%;
}

button{
    height: 8vh;
    width: 10vw;
}


